body {
    text-align: center;
}
h1 {
    color: rgb(255, 0, 157);
}

.container {
    width: 90%;
    margin: auto;
}
.nav ul {
    list-style: none;
    margin: 0;
    margin-top:25px;
    padding-left: 0;
}
.nav-item {
    display: inline-block;
    margin-right:5px;
  }
.nav-link {
    text-decoration: none;
    background:#30A8E6; 
    color:#fff;
    padding:10px;
    font-family: arial;
    border-radius:4px;
}
section {
    margin: 0 auto;
    width: 100%;
    padding-top: 3rem;
}
li {
    list-style-type: none;
    font-weight: 400;
}
