body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h1 {
    color: rgb(255, 0, 157);
    font-size: 2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.3em;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
}

.container {
    margin: auto;
    text-align: center;
}
.main {
    padding-bottom: 3em;
}
#intro h2 {
    font-size: 1.2em;
}

.nav {
    line-height: 2.5em;
    background-color: #eee;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}
.nav-item {
    display: inline-block;
    margin-right:5px;
  }
.nav-link {
    text-decoration: none;
    background:#30A8E6; 
    color:#fff;
    padding:10px;
    font-family: arial;
    border-radius:4px;
}
section {
    margin: 0 auto;
    width: 100%;
    padding-top: 3rem;
}
.contacts {
    text-align: left;
    margin-left: 10%;
}
.language {
    text-align: center;
}
.code {
    text-align: left;
}
.footer {
    width: 100%;
    margin: auto;
    background-color: #ddd;
    padding: 20px 5px;
}
.footer-icons a,span {
    padding-right: 3em;
}
